.ProductCard img {
    height: 150px;
    object-fit: cover;
}

.ProductCard {
    box-shadow: 0px 0px 15px grey;
    height: 550px;

}

.ProductCard:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;

}

.className {
    color: red;
}

.product-buttons {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}