.filterButton {
    margin: 25px;
    margin-left: 70px;
    margin-bottom: 30px;
    padding: 20px;
    width: 50%;
    background-color: white;
    border-color: white;
    color: rgba(67, 64, 68, 0.388);
}

.filterButton:hover {

    background-color: white;
    border-color: white;
    color: rgba(58, 54, 58, 0.613);

}

.instructions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: grey;


}

.done-button {
    margin-left: 1250px;
    margin-top: 35px;
    position: fixed;
}